.nav {
    padding: 20px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#mobileLinks {
    text-align: left;

}

a {
    color: black;
    text-decoration: none;
}

.logo, .link {
    text-decoration: none;
}

.logo:visited, .link:visited {
    text-decoration: none;
    color: darkslategray;
}

.link {
    margin: 10px;
}

@media screen and ( max-width: 900px){
    .link {
        display: none;
    }
}

@media screen and ( min-width: 900px){
    .mobileNav {
        display: none;
    }
}

.test {
    width: 250px;
}
