.container-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.box-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
