.product-cards{
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
  min-width: 344px;
  margin: 24px auto;
}



.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  overflow: hidden;
  -moz-box-pack: justify;
  justify-content: space-between;
  min-width: 344px;
  height: max-content;
  margin: 24px auto;
}



