
  .hotness:hover {
    box-shadow: 0 12px 12px 1px rgb(87, 69, 247), 0 10px 10px rgba(208, 209, 200, 0.993);
  }
  
  
  @media only screen and (max-width: 900px) and (min-width: 375px){
    .hotness{
      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  border: 2px solid black;
  }
  }