.hotness:hover {
  box-shadow: 0 12px 12px 1px rgb(87, 69, 247),
    0 10px 10px rgba(208, 209, 200, 0.993);
}

@media only screen and (min-width: 350px) {
  .link-card {
    width: 90%;
    height: 90%;
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  .card-product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .link-card {
    margin: 0 2rem;
  }
}

