.container-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-change-password {
    display: flex;
    justify-content: center;
    width: 50%;
}

.form-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
