.container-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
 
.box-change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
