.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  right: 0;

}

.link-github {
    margin: 0 10px 0 0;
} 

.link-github:hover {
  cursor: pointer;
}

/* .link-github:visited {
    text-decoration: none;
    color: #ff9472;
} */

.link-facebook {
    margin: 0 10px 0 0;
} 

/* .link-facebook:visited {
    text-decoration: none;
    color: #ff9472; */


.link-twitter {
    margin: 0 10px 0 0;
} 

