.box-edit-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-edit-product {
    display: flex;
    justify-content: center;
    width: 50%;
}

.form-edit-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

