.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-children {
    flex: 2;
    padding: 100px;
}

@media only screen and (max-width: 768px) {
    .layout-children {
        padding: 0;
    }
}
