@media only screen and (min-width: 350px) {
  .products-cards-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
    }

  .products-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .products-cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products-card-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30%;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  .products-cards-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .products-card-container {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 30%;
    margin: 2rem 0;
  }
}